@using PagedList.Mvc
@using StaffManagement.Logic.Services
@model PagedList.IPagedList<StaffManagement.Core.Entities.TableStaffViewModel>

<div class="panel-body">
    <table class="table table-striped table-bordered table-hover tbl-staff" id="tbl-staff">
        <thead>
        <tr>
            <th>#</th>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>Дата рождения</th>
            <th>Табельный номер</th>
            <th>Подразделение</th>
            <th>Должность</th>
            <th>Ставка</th>
            <th>Email</th>
            <th>Статус</th>
            <th><em class="fa fa-cog"></em></th>
        </tr>
        </thead>
        <tbody>
        @{
            if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
            {
                <span class="text-danger">@ViewBag.ErrorMessage</span>
            }
            if (Model != null && Model.Any())
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Surname</td>
                        <td>@item.FirstName</td>
                        <td>@item.Patronymic</td>
                        <td>@item.BirthDate</td>
                        <td>@item.PersonnelNumber</td>
                        <td>@item.Subdivision</td>
                        <td>@item.Position</td>
                        <td>@item.Rate</td>
                        <td>@item.Email</td>
                        <td>@item.Status</td>
                        <td align="center">
                            <a data-id="@item.EmployeeId" class="btn btn-default edit-item-link"><em class="fa fa-pencil"></em></a>
                        </td>
                    </tr>
                }
            }
        }

        </tbody>
    </table>
</div>
<div class="panel-footer">
    <div class="row">
        <div class="col col-md-4">
            Страница @(Model?.PageCount < Model?.PageNumber ? 0 : Model?.PageNumber) из @(Model?.PageCount)
        </div>
        <div class="col col-md-8">
            <div class="pull-right">
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
            </div>
        </div>
    </div>        
    <div class="row">
        @if (ViewBag.StaffStatInfo is StaffStatInfo info)
        {
            <div class="stat-info text-muted text-center">
                <hr/>
                <span><i class="fa fa-user"></i> Всего сотрудников: <span class="badge">@info.StaffCount</span></span>
                <span class="line-info"><i class="fa fa-dollar"></i> Средняя зарплата: <span class="badge">@info.AverageSalary</span></span>
                <span class="line-info"><i class="fa fa-user-circle"></i> Работает: <span class="badge">@info.WorksCount</span></span>
                <span class="line-info"><i class="fa fa-user-times"></i> Уволен(а): <span class="badge">@info.FiredCount</span></span>
                <span class="line-info"><i class="fa fa-yelp"></i> Ежегодный отпуск: <span class="badge">@info.AnnualVacationCount</span></span>
                <span class="line-info"><i class="fa fa-bank"></i> Декретный отпуск: <span class="badge">@info.MaternityLeaveCount</span></span>
            </div>
        }
    </div>
</div>
<script src="~/Scripts/js/tablestaff.js"></script>